body {
    background-color: #fff0f6;
    margin: 0;
    padding: 0;
}
.message{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    background-color: #ffe6f2;
    border: 2px solid #ff99cc;
    border-radius: 15px;
    padding: 20px;
    margin: 50px auto;
    max-width: 50%;
    box-shadow: 0 4px 8px rgba(255, 153, 204, 0.2);
}
.message button{
    background-color: #ff99cc;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.iframe-container {
    position: relative;
    width: 100%;
    max-width: 480px;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}
@media (max-width: 600px) {
    .message {
        max-width: 90%;
        padding: 15px 20px;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    
    h1 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1rem;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    
    .backbt {
        padding: 10px 20px;
        font-size: 1rem;
    }
    
}